<!DOCTYPE html><html lang="en" style="background: rgb(251,251,251);"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"><title>reacty » User feedback, but simple</title><meta name="description" content="Collecting user feedback in a simple and privacy friendly way is easy with reacty. Sign up for free."><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&amp;display=swap"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"><link rel="stylesheet" href="assets/css/styles.min.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"><script type="module" src="https://unpkg.com/friendly-challenge@0.8.12/widget.module.min.js" async defer></script>
<script nomodule src="https://unpkg.com/friendly-challenge@0.8.12/widget.min.js" async defer></script>
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
<link rel="manifest" href="/assets/img/site.webmanifest">
<link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#5bdc78">
<link rel="shortcut icon" href="/assets/img/favicon.ico">
<meta name="msapplication-TileColor" content="#00a300">
<meta name="msapplication-config" content="/assets/img/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
</head><body style="background: rgb(251,251,251);"><head>
    <link rel="stylesheet" href="https://testing.reacty.net/assets/css/styles.min.css">
</head>

<section class="highlight-clean" style="background: rgba(255,255,255,0);margin-top: 15vh;">
    <div class="container" style="font-family: Inter, sans-serif;">
        <div class="intro">
            <h2 class="text-center" style="color: #ff3044;font-size: 22px;margin-bottom: -25px;"><br /><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-alert-triangle" style="font-size: 25px;color: #ff3044;margin-bottom: 3px;">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 9v2m0 4v.01"></path>
                    <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
                </svg> Oh no, an Error...</h2>
            <h2 class="text-center" style="color: #000000;font-size: 145px;margin-bottom: -10px;">{{ code }}</h2>
            <p class="text-center">{{ detail }}<br /><br /><button style="background: rgb(255,255,255,0);border-style: none;text-decoration: none;color: #ff3044;" onclick="history.back()"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-left" style="margin-bottom: 3px;font-size: 20px;color: rgb(255,34,29);">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <line x1="5" y1="12" x2="19" y2="12"></line>
    <line x1="5" y1="12" x2="11" y2="18"></line>
    <line x1="5" y1="12" x2="11" y2="6"></line>
</svg> Go back</button></p>
        </div>
    </div>
</section><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script><script src="assets/js/script.min.js"></script></body></html>